
@media(max-width: 500px) {
    .navbar {
      flex-direction: column;
      align-items: center;
    }

.what-content
{
    display: flex;
    flex-direction: column;
}

.who-we-are{
    display: block;
}

.left-section{
    display: none;
}

.contact-us{
    flex-direction: column;
}
.map{
    height: 200px;
}

.head1{
    font-size: 2rem;
}
.showcase p{
    text-align: center;
}
}