@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin:0px;
    font-family: 'Roboto';
}

.navbar{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    color: white;
    padding:15px;
    position: sticky;
    top: 0;
}


.logo span{
    color: greenyellow;
}

.navbar-content{
    display: flex;
    list-style-type: none;
    align-items:center;
}

.navbar-content li a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

.showcase-header{
    background: #333 url('../img/showcase.jpg') no-repeat center center/cover;
    color: white;
    height: 100vh;
}

.showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(0,0,0,0.5)
}

.head1
{
    font-size: 4rem;
    margin-bottom: 0.75rem;
    line-height: 1.1;
}
.showcase a{
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #fff;
    background: #93cb52;
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
}

.container{
    padding: 2rem 0;
    margin: auto;
    overflow: hidden;
    
}

.what-content{
    display: flex;
    
}

.ib,.pm,.tc{
    display: flex;
    text-align: center;
    flex:1;
}

.head2 span{
    color: yellowgreen;
}
.head2{
    text-align: center;
    font-size: 2rem;
}
.abc{
    background: yellowgreen;
    width: 65px;
    height: 60px;
    border-radius: 50%;
    padding: 14px;
}   


.ib,.pm,.tc{
    padding:20px;
}   
.ib-content{
    padding: 20px;
}
.ib-content h3,p{
    padding:8px;
}

.abc{
    margin-top:50px;
}
.who-we-are{
    display: flex;
}
.who-we-are .left-section{
    background: url('../img/people.jpg') no-repeat center center/cover;
     height: auto;
     width: 100%;
}

.ourteam
{
    list-style-type: none;

}
.right-section{
    padding:20px;
    background: #333;
    color: white;
    text-align: left;
}
.head3 span{
    color: yellowgreen;
}
.right-section p,h4{
    margin:0.75rem 0;
    padding-left:0px;
}
.ourteam{
    padding-left: 0px;
}
.ourteam li{
    padding-top:15px;
}

.logo{
    display: flex;
    justify-content: center;
}

.logo div{
    height:15%;
    width:15%;
}
.our-clients{
    padding: 0 2rem;
    padding-bottom: 2rem;
}
.head5{
    text-align: center;
    align-self: center;
    line-height: 1.1;
    font-size: 2rem;
    padding: 2rem;
}
.head5 span{
    color: yellowgreen;
}
.logo img{
    display: block;
    width: 60%;
    margin: auto;
}
input[type="Submit"]
{
    width:100%;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
}

.contact-us {
    display: flex;
    flex: 1;
}
.contact-form label{
    display: block;
}

.map{
    background: url('../img/map1.jpg') no-repeat center center/cover;
    height: auto;
}

.contact-form{
    background-color: rgb(119, 220, 83);
    padding:20px;
    color: white;
    display: flex;
}
.form p{
    padding-left: 0px;
}
.form-grp{
    padding: 10px;
}
.form-grp input{
    height: 20%;
    width: 80%;
}
.form-grp textarea{
    width:80%;
    height: 20%;
}

footer{
    background-color: #333;
    color: white;
    padding: 20px;
}
.foot p
{
    align-self: center;
    text-align: center;
}