@media(max-width: 500px) {
    .navbar, .content{
      flex-direction: column;
      align-items: center;
    }
    .content{
        padding-left: 0px;
    }

    .upper-banner{
        flex-direction: column;
        align-items: center;
    }
    .lower-banner{
        flex-direction: column;
        align-items: center;
    }
    .head1,.head2{
        font-size: 1rem;
    }
    .head2{
        margin-top: 15px;
    }
    .head2 span{
        font-size: 1.5rem;
    }
    .banner-right{
        width:80%;
    }
    .icon1{

        width: 100%;
    }
    .form{
        padding:10px;
    }
    .form input{
        margin-top: 15px;
    }
    input[type=submit]
    {
        padding:10px 40px;
        text-align: center;
    }
}