*{
    margin: 0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

ul
{
    list-style-type: none;   
}
.content{
    display: flex;
}
.content li{
    display: flex;
}

.banner{

    background: url('../img/background-img.jpg') no-repeat center center/cover;
    color: white;
    height:100vh;
    /* padding:20px; */

    
}
.upper-banner
{
    display: flex;
    justify-content: space-between;
}
.banner-left{
    padding: 10px;
    margin: 20px;
    width:65%
}
.head1{
    font-size: 3rem;
    font-weight: 100;
    padding: 40px;
}
.head1 span{
    font-weight: 900;
}
.head2
{
    font-size: 2rem;
    font-weight: 100;
    margin-top: 40px;
    padding-left: 40px;
}
.head2 span{
    font-weight: bold;
    font-size: 2.5rem;
}
.banner-right{
    background-color: rgba(255,255,255,0.8);
    color: black;
    margin: 20px;
    height: 100%;
    width:35%;

}
.interested{
    padding:15px 20px 15px 20px;  
}
.head3{
    color: rgb(105, 105, 108);
    padding-bottom: 10px;
    font-size: 1.5rem;
    text-align: center;
}
.interested p{
    color: rgb(251, 100, 0);
    text-align: center;
    font-size: 1rem;
}
.form{
    padding:20px;
}

.form input{
    display: block;
    border: none;
    background: transparent;
    padding: 0px;
    margin-top: 30px;
    font-size: 1rem;
    line-height: 1.5rem;
    width:100%;
    
}
.form input:focus{
    outline: none;
}
.hr,.hr1{
    margin-bottom: 20px;
    width:100%;
    height:0px;
    border: 0.5px solid purple;
}
input[type=submit]{
    background-color: rgb(0, 151, 35);
    margin: auto;
    color: white;
    padding: 15px 60px;
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.lower-banner{
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    margin: 0px 20px;
    position: relative;
    top: 2%;
}

.icon1{
    width: 25%;
    padding:20px;
    color: rgb(51, 51, 51);
    
}
.icon1 img{
    display: block;
    margin: auto;
    /* padding: 20px; */
    padding-bottom: 10px;
}

.head4{
    font-size: 16px;
    text-align: center;
    padding-top: 12px;
    font-weight: 100;
}
.icon1 p{
    text-align: center;
    font-size: 10px;
    padding-top:10px;
}

.red{
    height: 2px;
    width:20px;
    border: 2px solid red;
    margin: 0 auto;

}